 @font-face {
    font-family: "Gilroy Medium";
    src: url(../fonts/GilroyMedium.ttf);
}
  
body {
    background-color: #FFFFFF;
    color: #141414;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Spoiler Cover taken from **tvtropes.com**. You should visit tvtropes.com, they are fun! */
.spoiler {
    border: 1px dotted #7f7f7f;
    border-top: none;
    background: hsla(0,0%,74.5%,.13);
    color: transparent;
    cursor: pointer;
}

.spoiler.off {
    color: inherit;
    background: none;
    border-left-color: transparent;
    border-right-color: transparent;
}